<!DOCTYPE html>
<html lang="en">
    <head> ... 
    </head>
    <body>
        <div>
            <h2>Enter City</h2>
            <form action="">
                <input type="text" placeholder="Enter City">
                <input type="submit" value="Weather Now">
            </form>
            <p> the weather in New York is 70 C</p>
        </div>
    </body>
</html>